<% unless @articles.count == 0 %>
  <h2>Articles to be published</h2>
  <div class="span8">
    <div class="table-responsive">
      <table class="table table-condensed  table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Reporter</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= link_to 'New Article', new_article_path, :class => 'btn btn-primary pull-right' if current_user %>
          <% @articles.each do |article| %>
            <tr>
              <td><%= link_to article.title, article %></td>
              <td><%=h truncate(article.content, length: 30) %></td>
              <td><%= article.user.try(:name) %></td>
              <td><%= button_to 'Publish', publish_article_path(article), :method => :put, :class => 'btn btn-success' if can? :publish, article %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="pagination-centered"><%= will_paginate @articles, renderer: BootstrapPagination::Rails %></div>
  </div>
<% else %>
  <h4>All articles are published!!</h4>
<% end %>

